#profilePic 
{
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    max-width: 500px;
}

.btns
{
    padding-left: 25%;
}

.container 
{
    margin-top: 10px;
}

.text-center 
{
    text-align: center;
}

.table td, .table th 
{
    padding: .75rem;
}

.table-bordered 
{
    border-radius: 10px;
}

.table-bordered 
{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
